<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Knockback.js - TodoMVC (Mockup)</title>
  <link rel="stylesheet" href="../../assets/base.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="todoapp"></div>

  <div id="credits">
    Created by <a href="https://github.com/kmalakoff">Kevin Malakoff</a>. <br/><br/>
    Please try out the <a href="http://kmalakoff.github.com/knockback-todos/">enhanced version</a> <br/>
    with localization, priority colors, and lazy loading <br/>
    to see just how dynamic <a href="https://github.com/kmalakoff/knockback">Knockback.js</a> can be!
  </div>

  <!-- Templates -->
  <script type="text/x-jquery-tmpl" id="todoapp-template">

    <header>
      <div id="todo-languages" class="selection codestyle">{{tmpl(window.settings_view_model.language_options) "#option-template"}}</div>
      <div class="title"><h1>Todos</h1></div>
      <div id="color-settings">
        {{tmpl(window.settings_view_model.priority_settings) "#priority-setting-template"}}
      </div>
    </header>

    <section id="main" style="display: block">
      <!-- Create Todo Section -->
      <div id="todo-create">
        <div class="content">
          <div id="create-todo">
            <input id="new-todo" placeholder="${create.input_placeholder_text}" type="text" />
            <span class="ui-tooltip-top" style="display:none;">${create.input_tooltip_text}</span>
            <div class="priority-color-swatch-wrapper">{{tmpl(create) "#priority-swatch-picker-template"}}</div>
          </div>
        </div>
      </div>

      <!-- Todos List Section -->
      <div id="todo-list-wrapper">
        <div class="todo-list-sorting-wrapper-outer" style="display:${todo_list.tasks_exist};">
          <div class="todo-list-sorting-wrapper-inner">
            <div id="todo-list-sorting" class="selection codestyle" >{{tmpl(todo_list.sorting_options) "#option-template"}}</div>
          </div>
        </div>
        <ul id="todo-list">{{tmpl(todo_list.todos) "#item-template"}}</ul>
      </div>
    </section>

    <footer>
      {{if total}}
        <span class="todo-count">
          <span class="number">${stats.remaining}</span>
          <span class="word">{{if (stats.remaining == 1)}} 'item' {{else}} 'items' {{/if}}</span> left.
        </span>
      {{/if}}
      {{if done}}
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done">${stats.done}</span>
            completed <span class="word-done">{{if (stats.done == 1)}} 'item' {{else}} 'items' {{/if}}</span>
          </a>
        </span>
      {{/if}}
    </footer>

    <div id="instructions">
      ${footer.instructions_text}
    </div>

  </script>

  <script type="text/x-jquery-tmpl" id="item-template">
    <li>
      <div class="view">
        <input class="toggle" type="checkbox" {{if done_text}}checked='checked'{{/if}}>
        <div class="priority-color-swatch-wrapper">{{tmpl($item.priority_color) "#priority-swatch-picker-template"}}</div>
        <label>${text}</label>
        <a class="destroy"></a>
      </div>
      <input class="edit" type="text" value="${text}">
      <div class="todo-done-text todo {{if done_text}}done done_enhanced{{/if}}">${done_text}</div>
    </li>
  </script>

  <script type="text/x-jquery-tmpl" id="priority-swatch-picker-template">
    <div class="priority-color-swatch todo create" style="background:${priority_color}">
      <span class="priority-picker-tooltip ui-tooltip-top" style="display:none;">
        {{tmpl(window.settings_view_model.priority_settings) "#priority-picker-template"}}
      </span>
    </div>
  </script>

  <script type="text/x-jquery-tmpl" id="priority-setting-template">
    <div class="priority-color-entry">
      <div class="priority-text">${priority_text}</div>
      <input class='priority-color-swatch colorpicker' value="${priority_color}" data-text="hidden" data-hex="true" />
    </div>
  </script>

  <script type="text/x-jquery-tmpl" id="priority-picker-template">
    <div class="priority-color-entry">
      <div class="priority-text">${priority_text}</div>
      <div class='priority-color-swatch' style="background:${priority_color}"></div>
    </div>
  </script>

  <script type="text/x-jquery-tmpl" id="option-template">
    <div class="option"><input id="${id}" type="radio" name="${option_group}"><label for="${id}">${label}</label></div>
  </script>

  <!-- Demo Dependencies -->
  <script src="js/libs/jquery-1.7.1.min.js"></script>

  <!-- More Demo Dependencies -->
  <script src="js/libs/jquery.tmpl.min.js"></script>
  <script src="js/libs/globalize/globalize.js"></script>
  <script src="js/libs/globalize/globalize.culture.fr-FR.js"></script>
  <script src="js/libs/globalize/globalize.culture.it-IT.js"></script>
  <script src="js/libs/mColorPicker.min.js"></script>
  <script type="text/javascript">
    $.fn.mColorPicker.init.showLogo = false;
    $.fn.mColorPicker.init.replace = false;
  </script>

  <!-- The Demo -->
  <script src="js/app_locale_manager.js"></script>
  <script src="js/app.js"></script>
</body>
</html>